#cloud-config

timezone: Asia/Tokyo
package_update: true
packages:
  - ansible
  - curl
  - git
  - unzip
  - wget
runcmd:
  - |
    set -e

    GITDIR="/tmp/private-isu"
    rm -rf ${GITDIR} /tmp/isucon-go-only
    git clone --depth=1 --filter=blob:none --sparse https://github.com/team-hacker-isucon/isucon-go-only.git /tmp/isucon-go-only
    git -C /tmp/isucon-go-only sparse-checkout set private-isu
    mv /tmp/isucon-go-only/private-isu ${GITDIR}
    rm -rf /tmp/isucon-go-only
    cd ${GITDIR}/provisioning/
    sed -i 's/isu-app/localhost ansible_connection=local/' hosts
    ansible-playbook -i hosts image/ansible/playbooks.yml
