#cloud-config

timezone: Asia/Tokyo

packages:
  - ansible
  - git

runcmd:
  - |
    set -e

    # https://github.com/ansible/ansible/issues/31617
    export HOME=/root

    GITDIR="${HOME}/isucon10-qualify"
    rm -rf ${GITDIR} /tmp/isucon-go-only
    git clone --depth=1 --filter=blob:none --sparse https://github.com/team-hacker-isucon/isucon-go-only.git /tmp/isucon-go-only
    git -C /tmp/isucon-go-only sparse-checkout set isucon10q
    mv /tmp/isucon-go-only/isucon10q ${GITDIR}
    rm -rf /tmp/isucon-go-only
    (
      cd ${GITDIR}/provisioning/ansible
      PYTHONUNBUFFERED=1 ANSIBLE_FORCE_COLOR=true ansible-playbook -i allinone, --connection=local allinone.yaml
    )
    rm -rf ${GITDIR}
