#cloud-config

timezone: Asia/Tokyo
package_update: true
packages:
  - git
  - itamae
  - curl
  - software-properties-common
runcmd:
  - |
    set -e
    GITDIR="/tmp/isucon11-prior"

    # fix for speedtest-cli
    [ -e /etc/apt/keyrings ] || ln -s /usr/share/keyrings /etc/apt/keyrings

    rm -rf ${GITDIR} /tmp/isucon-go-only
    git clone --depth=1 --filter=blob:none --sparse https://github.com/team-hacker-isucon/isucon-go-only.git /tmp/isucon-go-only
    git -C /tmp/isucon-go-only sparse-checkout set isucon11-prior
    mv /tmp/isucon-go-only/isucon11-prior ${GITDIR}
    rm -rf /tmp/isucon-go-only
    (
      cd ${GITDIR}/infra/instance

      sed -i 's/apt upgrade -y/true/' cookbooks/apt/default.rb
      sed -i "s/include_cookbook 'systemd-timesyncd'//" recipe.rb

      itamae local recipe.rb
    )
    rm -rf ${GITDIR}
